<h2>لايوجد لديك أي طلبات</h2>
<main>
    <div>
    <table>
    <tr>
      <th>اسم المستخدم</th>
      <th>نوع الطلب</th>
      <th>وصف للطلب</th>
      <th>تاريخ رفع الطلب</th>
      <th>حالة الطلب</th>
      <th>المستندات المرفقة</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    </div>
    </main>
    <div class="centerImg">
        <img src="https://img.icons8.com/wired/64/000000/add-row.png"/>
        </div>
      