<div class="wrapper">

  <div>
    <h2 class="heading">سجل دخولك</h2>
  </div>
  <form (submit)="onLogin()" class="form-signin">
    <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="البريد الالكتروني"  />
    <input type="password" class="form-control" [(ngModel)]="password"  name="password" placeholder="كلمة المرور" />
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> تذكر معلوماتي
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">تسجيل دخول</button>
  </form>
</div>