<!DOCTYPE html>
<html lang="AR">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Bootstrap Simple Registration Form</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
		<h2>التسجيل</h2>
		<p class="hint-text"></p>
        <div class="form-group">
			<input type="text" class="form-control" name="first_name" placeholder="الاسم الثلاثي" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="الهوية الوطنية" required="required">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" name="last_name" placeholder="تاريخ الميلاد" required="required">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" name="last_name" placeholder="رقم الجوال" required="required">
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="البريد الالكتروني" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="كلمة السر" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="تأكيد كلمة المرور" required="required">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> أنا أقبل  <a href="#">بالشروط والأحكام</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">سجل الآن</button>
        </div>
    </form>
	<div class="text-center">لديك حساب بالفعل؟ <a routerLink="/login">سجل دخولك من هنا</a></div>
</div>
</body>
</html>                            